<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow”
    integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>

<body>
  <div class="container-fluid navbar-style py-3 ">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/" id="logo">Soulbound confessions</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#serviceid">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gallary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>


            </ul>

          </div>
        </nav>

      </div>
    </div>
  </div>
  <div class="container-fluid mt-5 ">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class=" col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
            <h1>Mental heath </h1>
            <h2>Remove stigma around mental health </h2>
            <p>Anxity mental health depression <span class="bold-style">Soulbound confessions </span></p>
            <button class="btn-style btn-primary">Read more</button>
          </div>
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure id="image1">
              <img src="images/mental.jpeg" alt="mental health">
            </figure>



          </div>
        </div>


      </div>
    </div>
  </div>

  {{!-- about us start --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">We are dedicated to providing compassionate and effective mental health care
          to individuals who are struggling with mental health issues. Our team of highly trained and experienced mental
          health professionals is committed to helping our clients achieve their mental health goals. We understand that
          mental health is a crucial aspect of overall health and wellbeing, and we strive to provide the best possible
          care to support our clients on their journey to recovery. Thank you for considering our mental health center
          as a resource for your mental health needs. We look forward to supporting you on your journey to wellness.</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure id="image">
              <img src="images/Mental-Health-1.jpeg" alt="mental health">
            </figure>
          </div>

          {{!-- right side --}}
          <div class=" col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">
            <h1>What is Anxiety </h1>
            <h2>Remove stigma around mental health </h2>
            <p>welcome to <span class="bold-style">Soulbound confessions </span> We aim to provide a platform to remove
              the stigma revolving around meantal health</p>
            <button class="btn-style btn-primary">Read more</button>
          </div>



        </div>


      </div>
    </div>
  </div>

  {{!-- about us ends --}}

  {{!-- service us start --}}
  <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading"> Our Service</h1>
        <p class="text-center sub-heading">Services we porvide in <span>Soulbound confessions</span></p>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="our-services medications">
                <div class="icons">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Medication</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services privacy">
                <div class="icons">
                  <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                </div>
                <h4>Privacy</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services therapy">
                <div class="icons">
                  <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                </div>
                <h4>therapy</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icons">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Medication</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icons">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Medication</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="our-services settings">
                <div class="icons">
                  <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                </div>
                <h4>Medication</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  {{!-- service us ends --}}
  {{!-- map --}}
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13995.841953955256!2d77.11969301119562!3d28.720726792440686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0164e213d981%3A0x1684409a2dd6b4e1!2sDr.%20Vishal%20Chhabra!5e0!3m2!1sen!2sin!4v1682292468575!5m2!1sen!2sin"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  {{!-- map --}}


  {{!-- contact --}}
  <div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">contact us</h1>
        <p class="text-center sub-heading">Remove stigma around mental health</p>
        <div class="row">
          <div class="col-md-6 col-12 mx-auto ">
            <form action="/contact" method="post">
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name" name="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="phone number"
                  name="phone">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">message</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="message" name="message">
              </div>

              <button type="submit" class="btn-style btn-primary">Submit</button>
            </form>
            {{!-- contact --}}



            <footer class="footer">
              <p class="text-footer">
                {{!-- Copyright &copy; 2027 - www.iEducate.com - All rights reserved --}}
                Mail and Contact understand
              </p>
            </footer>
          </div>

          <script src="../jq/jquery.js" type="text/javascript"></script>
          <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>